@model MockCMS.ViewModels.SiteViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewSite</title>
</head>
<body>
    <div>
        <header> @Model.Site.Name</header>
    </div>
</body>
</html>
